.container {
  display: flex;
  height: 100vh;
  background-color: #0e1a2b; /* Cor de fundo principal */
  background-image: url('https://grupocednet.com.br/api/si/white_logo.webp');
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  padding: 20px; /* Adiciona um pouco de espaço nas laterais para dispositivos menores */
  box-sizing: border-box;
}

.content {
  width: 100%;
  max-width: 600px; /* Ajuste a largura máxima para centralizar o conteúdo */
  color: #c9d1d9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Garante que a altura ocupe toda a tela */
  box-sizing: border-box;
}

.h1 {
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
}

.inputFieldContainer {
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
  margin: 0 auto;
}

.inputField {
  display: flex;
  align-items: center;
  justify-content: center; /* Centraliza o conteúdo dentro do input */
  background-color: rgba(33, 38, 45, 0.9);
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 20px;
  transition: background-color 0.3s;
  box-sizing: border-box;
}

.inputField:hover {
  background-color: rgba(33, 38, 45, 1);
}

.filterIcon {
  margin-right: 20px;
  color: #c9d1d9;
}

.input {
  flex: 1;
  background: none;
  border: none;
  color: #c9d1d9;
  font-size: 24px;
  font-weight: 500;
  outline: none;
}

.input::placeholder {
  color: #8b949e;
  opacity: 0.7;
}

.dropdownContainer {
  position: relative;
  width: 100%;
  max-width: 300px;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.dropdownHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(33, 38, 45, 1); /* Cor de fundo semitransparente */
  padding: 15px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  color: #c9d1d9;
}

.dropdownHeader:hover {
  background-color: rgba(33, 38, 45, 1); /* Cor de fundo mais sólida ao passar o mouse */
}

.chevronIcon {
  margin-left: 10px;
  color: #c9d1d9;
}

.dropdownList {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #21262d;
  border-radius: 4px;
  overflow: hidden;
  z-index: 1000;
}

.dropdownListItem {
  padding: 15px 20px;
  color: #c9d1d9;
  cursor: pointer;
}

.dropdownListItem:hover {
  background-color: rgba(33, 38, 45, 1);
}

.controls {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 800px;
  margin-top: 5rem;
  box-sizing: border-box;
  flex-wrap: wrap; /* Permite que os botões se ajustem em dispositivos menores */
}

.winners {
  display: flex;
  align-items: center;
  margin-top: 1rem; /* Adiciona espaço entre elementos em dispositivos menores */
}

.inputNumber {
  width: 50px;
  background-color: #21262d;
  color: #c9d1d9;
  border: none;
  text-align: center;
  margin-left: 10px;
}

.button {
  background-color: #21262d;
  color: #fff;
  padding: 15px 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  transition: background-color 0.1s ease;
  margin-top: 1rem; /* Adiciona espaço entre botões em dispositivos menores */
}

.button:hover {
  background-color: #2ea043;
}

.button:active {
  background-color: #1f6f3a;
}

.button:disabled {
  background-color: #2c3a43;
  cursor: not-allowed;
}

.cadastroNomes {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
}

.nomeList {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
  width: 100%;
}

.nomeItem {
  background-color: #1c1c1c;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
